:root {
    --cor-primaria: #0073e6;
    --cor-texto: #333;
    --cor-fundo: #fff;
    --cor-destaque: #78c850;
    --espacamento-padrao: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do Corpo */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-white);
    color: var(--text-dark);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--espacamento-padrao) 0;
}

footer {
    text-align: center;
    padding: var(--espacamento-padrao);
    background-color: var(--cor-primaria);
}

footer p {
    color: white;
    font-size: 1rem;
}

/* Navbar*/

.navbar {
    background-color: var(--cor-primaria);
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: yellow
}

.container {
    display: flex;
    gap: var(--espacamento-padrao);
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: var(--espacamento-padrao);
    margin-top: var(--espacamento-padrao);
}

button {
    justify-content: center;
    background-color:green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
}